.app{
    background: #00563b;
    min-height: 100vh;
}

.app-card{
    background: white;
    max-width: 400px;
    min-width: 375px;
    border-radius: 8px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    font-size: 20px;
    color: #00563b;
    padding: 16px;
    border: 1px solid #ccc;
    font-size: 28px;
    font-weight: 500;
}

input{
    text-align: center;
    padding: 16px;
    height: 55px;
    outline: none;
    font-size: 24px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
input::placeholder{
    color: #bfbfbf;
}

.width100{
    width: 100%;
}

button{
    width: 100%;
    background: #90EE90;
    height: 55px;
    border: none;
    outline: none;
    font-size: 24px;
    border-radius: 8px;
    color: #043927;
}

.success-msg{
    color: #155724;
    background: #d4edda;
    border-radius: 5px;
    padding: 12px;
    margin: 12px;
}

.error-msg{
    color: #721c24;
    background: #f8d7da;
    border-radius: 5px;
    padding: 12px;
    margin: 12px;
}

.text-center{
    text-align: center;
}

.temperature{
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
}

.description, .location{
    font-size: 24px;
    line-height: 32px;
    padding-top: 20px;
}

footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid #ccc;
}

.feels-like{
    width: 100%;
    padding: 16px;
}

.humidity{
    border-left: 1px solid #ccc;
    width: 100%;
    padding: 16px;
}

.weather-image{
    max-width: 125px;
}

.cursor{
    cursor: pointer;
}